* {
    box-sizing: border-box;
    line-height: 1.5;
    letter-spacing: 1.5px;
    /* font-family: 'Merriweather', 'Noto Serif TC', serif; */
    font-family: 'Noto Serif TC', serif, 'Roboto Mono', monospace;
    /* font-family: 'Roboto Mono', monospace; */
    /* outline: 1px solid red; */
}
body {
    width: 100%;
    background-color: #ebe9e2;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 28px;
}
p {
    font-size: 20px;
}
a {
    text-decoration: none;
    color: #684337;
    font-size: 16px;
}
.w1200 {
    width: 1200px;
    margin: auto;
}
