.header {
    padding: 15px 0;
    background-color: #c2b5ac;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 3px #68433780;
    z-index: 1;
}
.header a {
    padding: 0 10px;
}
/* logo */
.header .logo {
    width: 60px;
}
/* menu */
.header .menu a {
    display: inline-block;
    font-size: 20px;
    line-height: 1.5;
}
.header .menu a:after {
    border-bottom: 1px solid #68433780;
    content: '';
    display: block;
    width: 0%;
    transition: .4s;
}
.header .menu a:hover:after {
    width: 100%;
}
/* search */
.header .search {
    margin-right: 20px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    border-radius: 5px;
    border: 0;
    padding-left: 10px;
}
/* member */
.header .member > button {
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    border-radius: 5px;
    color: #684337;
    background-color: #ebe9e2;
    border: 0;
    transition: .5s;
    margin: 0 5px;
}
.header .member > button:hover {
    cursor: pointer;
    color: #ebe9e2;
    background-color: #684337;
}