/* main */
h1 {
    color: #684337;
    font-weight: 700;
}
h2 {
    color: #A5896A;
}
p {
    color: #555;
}

.main section {
    margin-bottom: 80px;
}
.main .appointment_btn {
    background-color: #7E9A8A;
    color: #fff;
    letter-spacing: 5px;
    font-size: 20px;
    display: inline-block;
    border-radius: 5px;
    border: none;
    width: 150px;
    line-height: 40px;
}
/* background */
.main .appointment:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/background/gray_wave.svg);
    background-size: cover;
    z-index: -1;
    opacity: .5;
}

/* popular_product */
.main .popular_product {
    margin-top: 30px;
}
.main .popular_product .item {
    width: 580px;
}
.main .popular_product img {
    width: 100%;
}
.main .popular_product .description h2,
.main .popular_product .description p {
    padding: 10px 50px;
    letter-spacing: 2px;
}
.main .popular_product .description .appointment_btn {
    margin-top: 10px;
    margin-left: 50px;
}

/* appointment */
.main .appointment h1:after {
    content: '預約';
    margin-left: 20px;
    display: inline-block;
    font-size: 30px;
    color: #c2b5ac;
    font-weight: 400;
}
.main .appointment .schedule_wrap {
    width: 100%;
}
.main .appointment .schedule_wrap img {
    width: 500px;
}
.main .appointment .schedule {
    background-color: #fff;
}

/* product_list */
.main .product_list {
    position: relative;
}
.main .product_list h1:after {
    content: '樣式';
    margin-left: 20px;
    display: inline-block;
    font-size: 30px;
    color: #c2b5ac;
    font-weight: 400;
}
.main .product_list :not(h1) {
    font-size: 0;
}
.main .product_list h1 {
    width: 100%;
}
.main .product_list > img {
    width: 220px;
    margin: 10px;
}
.main .product_list > img:after {
    contain: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: #fff;
}
.main .product_list > img:hover {
    filter: blur(5px);
}
.main .product_list .preview {
    width: 100%;
    height: 0;
    background-color: #ebe9e2;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.main .product_list .preview > img {
    width: 216px;
    margin: 10px;
    transition: .5s;
}
.main .product_list > img:hover {
    transform: translate(0, -10px);
    transition: .5s;
    cursor: pointer;
}
.main .product_list > img:hover ~ .preview {
    background-color: #ffffffaa;
    height: 256px;
}

/* others */
.main .others {
    padding: 10px;
    margin-top: 40px;
}
.main .others ul {
    width: 200px;
}
.main .others ul > li {
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    background-color: #A5896A80;
    color: #fff;
    padding-left: 15px;
    margin-bottom: 10px;
    transition: .5s;
}
.main .others ul li:hover {
    background-color: #A5896A;
    transform: translate(10px);
    cursor: pointer;
}
.main .others .description {
    height: 500px;  
    background-color: #A5896A80;
    margin-left: 20px;
}