body {
    overflow-x: hidden;
}
/* index main */
main .container {
    margin-bottom: 50px;
}
main .appointment {
    display: flex;
    flex-wrap: wrap;
}
/* appointmentBlock */
@keyframes showDialog {
    from {top: 0px; opacity: 0;}
    to {top: 50%; opacity: 1;}
}
@keyframes closeDialog {
    from {top: 50%; opacity: 1;}
    to {top: 0px; opacity: 0;}
}
main .appointmentBlock {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: #fcfaf5;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 3px #68433780;
    transition: .5s;
}
main .appointmentBlock > button {
    position: absolute;
    background-color: #fcfaf5;
    top: 5px;
    right: 10px;
    height: 30px;
    width: 30px;
    line-height: 1;
    border-radius: 50%;
    color: #c2b5ac;
}
main .appointmentBlock .productName,
main .appointmentBlock form {
    text-align: center;
    margin-bottom: 20px;
}
main .appointmentBlock .sec {
    margin-top: 5px;
}
main .appointmentBlock .productName {
    background-color: #c2b5ac;
    padding: 5px 0;
}
main .appointmentBlock .productName select {
    background-color: #fcfaf5;
}
main .appointmentBlock .pic {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
}
main .appointmentBlock .pic .last {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 0px;
    transform: translate(0, -50%);
    opacity: 0.5;
    background: url(../img/icon/left.png) no-repeat;
    background-size: contain;
}
main .appointmentBlock .pic .next {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 0px;
    transform: translate(0, -50%);
    opacity: 0.5;
    background: url(../img/icon/right.png) no-repeat;
    background-size: contain;
}
main .appointmentBlock .pic img {
    width: 100%;
    border-radius: 10px;
}
/* news */
main .news {
    width: 100%;
    background: linear-gradient(to bottom, transparent 40%, #ebe9e2ff),
        url(../img/background/news_bg.svg) center bottom no-repeat;
    background-size: cover;
}
main .news .row {
    width: 1200px;
    margin: auto;
    align-items: center;
}
main .news .txt > * {
    margin-bottom: 15px;
    margin-right: 20px;
}
main .news .pic {
    position: relative;
}
main .news .pic .like {
    position: absolute;
    display: block;
    bottom: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background: url(../img/icon/heart_border.png) no-repeat 50% 70% / 70% 70%, #fff8;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
}
main .news .pic .like:hover {
    background: url(../img/icon/heart_filled.png) no-repeat 50% 70% / 70% 70%, #fff8;
}
main .news .pic img {
    width: 100%;
}
/* appointment */
main .appointment .pic {
    width: 45%;
}
main .appointment .pic img {
    width: 100%;
}
main .appointment .schedule {
    flex-grow: 1;
    padding: 0 30px;
    background-color: #fff;
}
/* category */
main .category {
    position: relative;
}
main .category:before {
    content: '';
    position: absolute;
    display: block;
    width: 500px;
    height: 500px;
    top: -250px;
    left: -200px;
    background: url(../img/background/w500h500_brown.svg);
    z-index: -1;
}
main .category:after {
    content: '';
    position: absolute;
    display: block;
    width: 500px;
    height: 500px;
    bottom: -350px;
    right: -200px;
    background: url(../img/background/w500h500_green.svg);
    z-index: -1;
}
main .category .categoryList {
    width: 100%;
    position: relative;
}
main .category .categoryList .showImg {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-40%) rotate(20deg);
    width: 58%;
    clip-path: url(#mask1);
    z-index: -1;
}
main .category .categoryList .categoryBg {
    display: block;
    margin: auto;
}
@keyframes brownBoolean {
    0% {
        color: #684337;
        background: url(../img/boolean.png) no-repeat;background-size: contain;
    }
    10% {
        color: #fff;
        background: url(../img/boolean_brown.png) no-repeat;
        background-size: contain;
    }
    20% {
        color: #684337;
        background: url(../img/boolean.png) no-repeat;background-size: contain;
    }
}
main .category .categoryList h3 {
    position: absolute;
    text-align: center;
    color: #684337;
    font-size: 16px;
    cursor: pointer;
    background: url(../img/boolean.png) no-repeat;
    background-size: contain;
    padding: 50px 25px 100px 20px;
}
main .category .categoryList h3:hover {
    color: #fff;
    background: url(../img/boolean_brown.png) no-repeat;
    background-size: contain;
}
main .category .categoryList .single {
    top: 52%;
    left: 3.5%;
    transform: rotate(-14deg);
    animation: brownBoolean 10s linear 1s 10;
}
main .category .categoryList .single:hover ~ .showImg {
    content: url(../img/products/hand/12.jpeg);
}
main .category .categoryList .cateyes {
    top: 43%;
    left: 12%;
    transform: rotate(15deg);
    animation: brownBoolean 10s linear 2s 10;
}
main .category .categoryList .cateyes:hover ~ .showImg {
    content: url(../img/products/hand/4.jpeg);
}
main .category .categoryList .gardual {
    top: 57%;
    left: 17.5%;
    transform: rotate(46deg);
    animation: brownBoolean 10s linear 3s 10;
}
main .category .categoryList .gardual:hover ~ .showImg {
    content: url(../img/products/hand/7.jpeg);
}
main .category .categoryList .franch {
    top: 12%;
    left: 74%;
    transform: rotate(-23deg);
    animation: brownBoolean 10s linear 4s 10;
}
main .category .categoryList .franch:hover ~ .showImg {
    content: url(../img/products/hand/11.jpeg);
}
main .category .categoryList .style {
    top: 6%;
    left: 80%;
    transform: rotate(12deg);
    animation: brownBoolean 10s linear 5s 10;
}
main .category .categoryList .style:hover ~ .showImg {
    content: url(../img/products/hand/special10.jpg);
}

/* others */
main .others {
    display: flex;
}
/* others list */
main .others .infoList {
    width: 20%;
    padding-right: 50px;
    padding-right: 50px;
}
main .others .infoList .listItem {
    background-color: #c2ab90;
    color: #fff;
    padding: 10px 80px 10px 20px;
    margin-bottom: 10px;
    transition: .5s;
}
main .others .infoList .listItem:hover {
    background-color: #A5896A;
    transform: translate(10px);
    cursor: pointer;
}

/* others description */
main .container:last-child {
    background: url(../img/background/shop.png) no-repeat;
    background-size: contain;
    background-position: 100% bottom;
    position: relative;
}
main .others input {
    display: none;
}
main .others .priceList {
    background: url(../img/background/price-list.png) no-repeat;
    background-size: contain;
    display: block;
    margin: auto;
    padding: 45px 130px 70px;
    text-align: center;
    color: #fcfaf5;
    margin-top: 100px;
    margin-bottom: -20px;
}
main .others .priceList:after {
    position: absolute;
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    top: 160px;
    right: 40px;
    background: url(../img/background/price2.png) no-repeat;
    background-size: contain;
}
main .others .changePage {
    position: absolute;
    padding: 100px;
    bottom: -70px;
    right: -20px;
}
main .others .changePage:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../img/background/sign-post.png) no-repeat;
    background-size: contain;
    top: 50%;
    right: 0;
    transform: translate(0, -25%);
}
main .others .changePage label {
    display: block;
    color: #fcfaf5;
    padding: 28px 0;
    text-align: center;
    position: relative;
    z-index: 1;
}
main .others .changePage .covidSign,
main .others .changePage .flowSign {
    display: none;
}