main {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 2px;
}
main .container .infoList ul li:first-child {
    background-color: #000;
    color: #fff;
    margin-right: 10%;
}
main .container .infoList ul li:not(:first-child) {
    margin-top: -1px;
}
main .container .infoList ul li {
    padding: 5px 10px;
    margin-right: 20%;
    transition: .5s;
}
main .container .infoList ul li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
main .container .infoList ul li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main .container .infoList ul li:hover {
    margin-right: 10%;
}
main .container .infoContent {
    background: url(../img/background/information.png) no-repeat ;
    background-size: 50%;
    background-position: right 10% bottom 10%;
    background-color: #fcfaf5;
    margin-bottom: 50px;
    padding: 50px;
    border-radius: 10px;
    border: 1px solid #ccc
}
main .container .infoContent {
    min-height: 80vh;
}
main .container .infoContent > div:not(.faq) ul li:before {
    content: '\2756';
    display: inline-block;
    font-size: 12px;
    padding-right: 5px;
    color: #000;
}
/* aboutACH */
main .infoContent .aboutACH ul li img {
    width: 150px;
    padding-left: 12px;
    display: block;
}
/* FAQ */
main .infoContent .faq label input,
main .infoContent .faq label p:last-child {
    display: none;
}
main .infoContent .faq label input:checked ~ p {
    display: block;
}
main .infoContent .faq li {
    margin-bottom: 10px;
    background-color: #c2b5ac50;
    border-radius: 5px;
    padding: 5px 10px;
}
main .infoContent .faq li p:first-child:before {
    content: 'Q:';
}
main .infoContent .faq li p:last-child:before {
    content: 'A:';
}
main .infoContent .faq li p {
    text-indent: -20px;
    padding-left: 30px;
}
main .infoContent .faq li p:last-child {
    background-color: #fcfaf5aa;
    margin: 10px;
    padding: 10px 10px 10px 30px;
    border-radius: 5px;
}