/* globe style */
/* display */
.none {
    display: none;
}
.inline-block {
    display: inline-block;
}
.block {
    display: block;
}

/* inline style */
.vertical-align-middle {
    vertical-align: middle;
}

/* common */
@media screen and (min-width: 768px) {
    /* txt */
    h1 {
        font-size: 28px;
        padding: 5px 0;
    }
    h2 {
        font-size: 24px;
        padding: 5px 0;
    }
    h3 {
        font-size: 20px;
        padding: 3px 0;
    }
    p, span, a {
        font-size: 18px;
    }
    a {
        text-decoration: none;
        color: #000;
    }
    /* link decoration */
    .decoration-line {
        position: relative;
    }
    .decoration-line:after {
        content: '';
        width: 0%;
        height: 1px;
        bottom: 0;
        display: inline-block;
        position: absolute;
        left: 0;
        background-color: var(--main-color);
        transition: .4s;
    }
    /* hover style desktop only */
    .decoration-line:hover:after {
        width: 100%;
    }
    
}

/* color */
:root {
    --main-color: #684337;
    --main-bg-color: #ebe9e2;
    --main-txt-bg-color: #fcfaf5;
    --main-btn-bg-color: #7E9A8A;
    --price-color: #E3C284;
}
* {
    box-sizing: border-box;
    font-family: 'Noto Serif TC', serif, 'Roboto Mono', monospace;
    font-size: 16px;
    letter-spacing: 1.5px;
    line-height: 1.2;
}
body {
    /* padding-bottom: 500px; */
    background-color: var(--main-bg-color);
}

/* txt */
h1 {
    font-size: 24px;
    padding: 5px 0;
}
h2 {
    font-size: 20px;
    padding: 5px 0;
}
h3 {
    font-size: 16px;
    padding: 3px 0;
}
p, span, a {
    font-size: 14px;
}
a {
    text-decoration: none;
    color: #000;
}
/* link decoration */
.decoration-line {
    position: relative;
}
.decoration-line:after {
    content: '';
    width: 0%;
    height: 1px;
    bottom: 0;
    display: inline-block;
    position: absolute;
    left: 0;
    background-color: var(--main-color);
    transition: .4s;
}
/* hover style desktop only */
.decoration-line:hover:after {
    width: 100%;
}

/* img */
.pic img {
    width: 100%;
    display: block;
}
.bg {
    overflow: hidden;
}
.bg .pic {
    position: relative;
}
.bg img {
    position: absolute;
    /* width: 100%; */
    opacity: .3;
}

/* product card */
.product {
    padding: 10px 0;
}
.product .pic {
    overflow: hidden;
    transition: .5s;
}
.product .pic img {
    transition: .5s;
}
/* hover style desktop only */
.product .pic:hover {
    transform: scale(0.95);
}
.product .pic:hover img {
    transform: scale(1.2);
}

/* inupt */
input[type='text'],
input[type='tel'],
input[type='date'],
input[type='email'],
select {
    background-color: #fcfaf5;
    border: 2px solid #68433750;
    border-radius: 100px;
    line-height: 1.5;
    padding: 0 15px;
}

/* button */
/* appointment btn */
.appointment-btn {
    cursor: pointer;
    background-color: var(--main-btn-bg-color);
    border: none;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
/* hover style desktop only */
.appointment-btn:hover {
    background-color: #E3C284;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
/* other btn */
.other-btn {
    background-color: #c2b5ac;
    border-radius: 5px;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
}

/* header */
header .container {
    height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #c2b5ac;
}

/* main menu */
/* hanburger */
.main-menu .burger {
    display: block;
    width: 1.5em;
    height: 0.15em;
    background-color: #68433780;
    font-size: 16px;
    margin: 5px 0;
}
.main-menu:before,
.main-menu:after {
    content: '';
    display: block;
    width: 1.5em;
    height: 0.15em;
    background-color: #68433770;
}
/* side menu */
.side-menu {
    text-align: right;
}
.side-menu .about-btn img,
.side-menu .search-btn img, 
.side-menu .collect-btn img {
    width: 2em;
}
/* popup content */
.pop-window {
    overflow: hidden;
    transition: .5s;
    position: fixed;
    background-color: #c2b5ac;
    top: 0;
    padding-top: 3em;
    white-space: nowrap;
}
.menu {
    left: 0;
    width: 0;
    height: 100%;
}
.collection {
    right: 0;
    width: 0;
    height: 100%;
}
.search {
    left: 0;
    width: 100%;
    height: 0;
}
#menu:checked + .menu,
#collection:checked + .collection {
    width: 100%;
}
#search:checked + .search {
    height: 6em;
}

/* logo */
header .logo {
    text-align: center;
}
header .logo img {
    width: 80px;
}
header .logo span {
    /* font-size: 24px; */
}
/* (default) block size */
.container {
    width: 100%;
}
.container .row {
    max-width: 1200px;
    margin: auto;
}
/* main */
main {
    min-height: 100vh;
}
/* main first container padding-top 30px */
main .container {
    padding-top: 80px;
}

/* footer */
footer {
    margin-top: 30px;
}