/* nav bar */
main .container {
    position: relative;
}
main .container .pagebar {
    margin-bottom: 50px;
    justify-content: center;
    text-align: center;
}
main .container .pagebar label {
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}
/* checked change color */
main .container #overviewPage:checked ~ .pagebar label[for="overviewPage"],
main .container #appointmentPage:checked ~ .pagebar label[for="appointmentPage"],
main .container #likePage:checked ~ .pagebar label[for="likePage"],
main .container #historyPage:checked ~ .pagebar label[for="historyPage"] {
    background-color: #000;
    color: #fff;
}
main .container .page {
    padding-bottom: 50px;
}

/* left panel */
/* sticky profile */
main .profile {
    position: relative;
}
main .profile .profileList {
    position: sticky;
    top: 80px;
}
/* profile img */
main .container .row .profile img {
    width: 60%;
    display: block;
    margin: auto;
}
main .container .row .profile .txt {
    padding: 10px 0;
}
/* profile form */
/* edit */
main .container .page .profile .profileList form .onEdit div > * {
    display: inline-block;
    margin-bottom: 12px;
}

/* profile info */
main #edit:not(:checked) ~ .edit {
    display: none;
}
main #edit:checked ~ .onEdit {
    display: none;
}

/* right panel */
/* show if checkBtn checked */
main #overviewPage:checked ~ .page .overviewPage {
    display: block;
}
/* block margin */
main .overviewPage > [class$="Block"],
main .appoinementPage > [class$="Block"] {
    margin-bottom: 30px;
}
/* overview page appointment block */
/* appointment page appointment block */
main .overviewPage .appointmentBlock .item,
main .appoinementPage .appointmentBlock .item,
main .overviewPage .favoriteBlock .favoriteList {
    align-items: center;
    padding: 20px 0;
    background-color: #fcfaf5;
    border-radius: 10px;
}
main .overviewPage .appointmentBlock .item .pic img,
main .appoinementPage .appointmentBlock .item .pic img {
    width: 80%;
    border-radius: 10px;
    display: block;
    margin: auto;
}
main .overviewPage .appointmentBlock .item .txt .icon,
main .appoinementPage .appointmentBlock .item .txt .icon {
    margin-top: 20px;
}
main .overviewPage .appointmentBlock .item .txt .icon img,
main .appoinementPage .appointmentBlock .item .txt .icon img {
    width: 6%;
    padding: 5px;
    margin-right: 5px;
}

/* overview page favorite */
main .overviewPage .favoriteBlock .item {
    align-items: center;
    padding: 0 30px;
    border-radius: 10px;
}
main .overviewPage .favoriteBlock .item .pic img {
    width: 100%;
    border-radius: 10px;
}

/* overview page history */
main .historyBlock {
    position: relative;
}
main .historyBlock:before {
    content: '';
    width: 150px;
    height: 150px;
    display: block;
    background: url(../img/icon/nail.png) no-repeat;
    background-size: contain;
    bottom: 0;
    right: 10%;
    position: absolute;
}
main .historyBlock .item {
    display: inline-block;
    text-align: center;
    position: relative;
    padding-right: 200px;
}
main .historyBlock .item:nth-child(odd) {
    padding-right: 0;
    padding-left: 200px;
}
main .historyBlock .item:after {
    content: '';
    height: 20px;
    width: 20px;
    background-color: #c2b5ac;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
main .historyBlock .item:before {
    content: '';
    height: 100%;
    width: 2px;
    background-color: #c2b5ac;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
main .overviewPage .historyBlock .item .pic img {
    width: 20%;
    border-radius: 50%;
    border: 4px solid #c2b5ac;
}

/* appointment page */
main #appointmentPage:checked ~ .page .appoinementPage {
    display: block;
}
main .appoinementPage #schedule {
    background-color: #fcfaf5;
    border-radius: 10px;
    padding: 20px 50px;
}