.main {
    padding-top: 30px;
}
.main:not(h1, h2, h3) {
    font-size: 20px;
}
.main h1,
.main h2,
.main h3 {
    margin-bottom: 10px;
    font-weight: 500;
    color: #684337;
}
.main > section {
    margin-bottom: 30px;
}

.main .info form,
.main .appointment .item,
.main .history .item {
    background-color: #ffffff80;
    padding: 30px;
}
.main .history .item {
    margin-bottom: 10px;
}

/* info */
.main .info form > .item {
    width: 540px;
    margin: 15px;
}
.main .info form span,
.main .info form input {
    margin-left: 10px;
}

/* appointment */
.main .appointment .item > img {
    width: 250px;
    margin-right: 30px;
}
.main .appointment .style_name {
    font-size: 30px;
    font-weight: 700;
    color: #555;
}
.main .appointment p:not(.style_name) {
    color: #555;
}
.main .appointment .active > button {
    font-size: 18px;
    width: 40px;
    height: 40px;
}


/* history */
.main .history .item > img {
    width: 250px;
    margin-right: 30px;
}