/* header */
header .menu > .category:after {
    width: 100%;
}
main .searchBar .row .barWrap input,
main .productList .row .productWrap .product .pic img {
    width: 100%;
}
main img {
    vertical-align: middle;
}
/* search bar */
main .searchBar .row .barWrap input {
    border-radius: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
    line-height: 2;
}

/* product list */
main .productList .row .productWrap {
    padding: 15px;
}
main .productList .row .productWrap .product {
    background-color: #fcfaf5;
    display: inline-block;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
main .productList .row .productWrap .product:hover {
    transform: scale(1.05);
    /* box-shadow: 0 0 3px 0 #c2b5ac; */
}
/* product img btn */
main .productList .row .productWrap .pic {
    position: relative;
}
main .productList .row .productWrap .pic .like {
    content: '';
    position: absolute;
    display: block;
    bottom: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    background: url(../img/icon/heart_border.png) no-repeat 50% 70% / 70% 70%, #fff8;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
}
main .productList .row .productWrap .pic .like:hover {
    background: url(../img/icon/heart_filled.png) no-repeat 50% 70% / 70% 70%, #fff8;
}
main .productList .row .productWrap .pic:hover span {
    display: inline-block;
    cursor: pointer;
}
main .productList .row .productWrap .pic .last {
    background: url(../img/icon/left.png) no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    opacity: 0.5;
    transition: .3s;
}
main .productList .row .productWrap .pic .next:hover {
    transform: translate(0, -50%);
}
main .productList .row .productWrap .pic .next {
    background: url(../img/icon/right.png) no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    opacity: 0.5;
    transition: .5s;
}
main .productList .row .productWrap .pic .next:hover {
    transform: translate(0, -50%);
}
/* product txt */
main .productList .row .productWrap .product .txt {
    padding: 10px;
    display: inline-block;
}

/* view method */
main .viewMethod {
    position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%);
    font-size: 0;
    text-align: center;
    background-color: #fcfaf5;
    border-radius: 100px;
    overflow: hidden;
    border: 1px solid #ccc;
    margin-bottom: -1px;
}
main .viewMethod label {
    display: inline-block;
    padding: 3px 15px;
    border: none;
    height: 100%;
}
main .viewMethod label:not(:first-child) {
    margin-left: -1px;
}

/* label btn selected */
main #explore:checked ~ .viewMethod .explore,
main #grid:checked ~ .viewMethod .grid,
main #filter:checked ~ .viewMethod .filter,
main #all:checked ~ .productList .filterList .category .all,
main #single:checked ~ .productList .filterList .category .single,
main #catEyes:checked ~ .productList .filterList .category .catEyes,
main #singleGradual:checked ~ .productList .filterList .category .singleGradual,
main #frenchGradual:checked ~ .productList .filterList .category .frenchGradual,
main #style:checked ~ .productList .filterList .category .style {
    background-color: #000;
    color: #fff;
}

/* product info display: none */
main #explore:checked ~ .productList .row .productWrap .product .txt .category,
main #explore:checked ~ .productList .row .productWrap .product .txt .price,
main #grid:checked ~ .productList .row .productWrap .product .txt .description,
main #filter:checked ~ .productList .row .productWrap .product .txt .description,
main #filter:checked ~ #single:checked ~ .productList .productWrap:not(.single),
main #filter:checked ~ #catEyes:checked ~ .productList .productWrap:not(.catEyes),
main #filter:checked ~ #singleGradual:checked ~ .productList .productWrap:not(.singleGradual),
main #filter:checked ~ #frenchGradual:checked ~ .productList .productWrap:not(.frenchGradual),
main #filter:checked ~ #style:checked ~ .productList .productWrap:not(.style) {
    display: none;
}

/* explore sort 10:1-4-1-4 */
main #explore:checked ~ .productList .productWrap {
    width: calc(100% / 4);
}
main #explore:checked ~ .productList .productWrap:nth-child(5n+1) {
    width: calc(100%);
}
main #explore:checked ~ .productList .productWrap:nth-child(5n+2),
main #explore:checked ~ .productList .productWrap:nth-child(5n+4) {
    padding-top: 50px;
}
main #explore:checked ~ .productList .productWrap:nth-child(5n+3),
main #explore:checked ~ .productList .productWrap:nth-child(5n) {
    padding-bottom: 50px;
}
main #explore:checked ~ .productList .productWrap:nth-child(5n+1) .product {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
}
main #explore:checked ~ .productList .productWrap:nth-child(10n+1) .product {
    flex-direction: row;
}
main #explore:checked ~ .productList .productWrap:nth-child(5n+1) .product .pic {
    width: 40%;
    border-radius: 10px;
    overflow: hidden;
}
main #explore:checked ~ .productList .productWrap:nth-child(5n+1) .product .txt {
    width: 55%;
    padding: 200px 100px;
    position: relative;
}
main #explore:checked ~ .productList .productWrap:nth-child(5n+1) .product .txt:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../img/background/w500h500_gray_filp.svg) no-repeat;
    z-index: -1;
}
main #explore:checked ~ .productList .productWrap:nth-child(10n+1) .product .txt:before {
    background: url(../img/background/w500h500_brown.svg) no-repeat;
}
/* grid sort 4 */
main #grid:checked ~ .productList .row .productWrap {
    width: calc(100% / 4);
}
/* filter sort 2 */
main #filter:checked ~ .productList {
    position: relative;
}
main #filter:checked ~ .productList .row {
    width: 70%;
}
main #filter:checked ~ .productList .row .productWrap {
    width: calc(100% / 2);
    padding: 20px;
}
main #filter:checked ~ .productList .filterList {
    display: block;
    position: fixed;
    top: 150px;
    left: calc(50% + 240px);
}
main .productList .filterList .info {
    font-size: 12px;
}
main .productList .filterList .info .remove {
    text-align: right;
    cursor: pointer;
    
}
main .productList .filterList .info .remove span {
    display: inline-block;
}
main .productList .filterList .info .remove span:after {
    content: '';
    width: 0;
    height: 1px;
    border-bottom: 1px solid #aaa;
    display: block;
    transition: .5s;
}
main .productList .filterList .info .remove span:hover:after {
    width: 100%;
}
main .productList .filterList .category .labelBtn {
    width: calc(100% / 3 - 20px);
    padding: 30px 3px;
    margin: 10px;
    text-align: center;
}
