/* header */
header .menu > .category:after {
    width: 100%;
}/* globe */
main a {
    color: #000;
}
main p.category {
    font-size: 14px;
    color: #555;
    line-height: 1.2;
}
main p.productDescript {
    padding: 20px 0;
}
main li:before {
    content: '\2756';
    display: inline-block;
    font-size: 12px;
    padding-right: 5px;
    color: #000;
}
/* detail */
main .container {
    width: 100%;
    background: url(../img/background/w500h500_brown.svg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main .mainItem {
    width: 1200px;
    margin: auto;
}
main .detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
}
/* detail img left 70% */
main .detail .changeImg {
    width: 10%;
}
main .detail .detailImg {
    width: 60%;
}
main .detail .changeImg img,
main .detail .detailImg img {
    width: 85%;
    border-radius: 5px;
    display: block;
    margin: auto;
}
main .detail .changeImg img {
    margin-bottom: 10px;
    cursor: pointer;
}
main .detail .changeImg img:not(:first-child) {
    opacity: 0.8;
    filter: brightness(50%);
}
main .detail .detailImg img {
    margin-left: 20px;
}
/* detail txt right 30% fixed */
main .detail .detailTxt {
    width: 30%;
    position: relative;
    margin-top: 25px;
}
main .detail .detailTxt .productInfo {
    width: 360px;
    position: sticky;
    top: 70px;
    padding-left: 20px;
}
/* appointment form */
main .detail .detailTxt .productInfo form > div {
    margin-bottom: 10px;
}
main .detail .detailTxt .productInfo form .customName > label,
main .detail .detailTxt .productInfo form .customTel > label,
main .detail .detailTxt .productInfo form .customItem > label:first-child,
main .detail .detailTxt .productInfo form .customDateTime > label {
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
}
main .detail .detailTxt .productInfo form input[type='text'],
main .detail .detailTxt .productInfo form input[type='tel'],
main .detail .detailTxt .productInfo form input[type='date'] {
    background-color: transparent;
    border: 2px solid #68433750;
    border-radius: 100px;
    line-height: 1.7;
    padding: 0 15px;
}
main .detail .detailTxt .productInfo form select {
    background-color: transparent;
    border: 2px solid #68433750;
    padding: 3px 5px;
    border-radius: 100px;
}
/* customBtn */
main .detail .detailTxt .productInfo form .customBtn {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
main .detail .detailTxt .productInfo form .signUp {
    font-size: 12px;
    color: #684337;
    margin-left: 10px;
}
main .detail .detailTxt .productInfo form .signUp:after {
    content: '';
    width: 0;
    height: 1px;
    padding-top: 5px;
    border-bottom: 1px solid #684337;
    display: block;
    transition: .5s;
}
main .detail .detailTxt .productInfo form .signUp:hover:after {
    width: 100%;
    vertical-align: middle;
}
main .detail .detailTxt .productInfo ul {
    padding-top: 30px;
    line-height: 2;
}
/* story */
main .storyContainer {
    width: 100%;
    background-color: #68433720;
}
main .story {
    position: relative;
    z-index: 2;
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
    margin: auto;
}
main .story .storyItem {
    width: calc(100% / 2 - 50px);
}
main .story .storyTxt p {
    padding: 10px 0;
}
main .story .storyTxt img {
    display: block;
    margin: auto;
    width: 80%;
    padding: 30px 0;
}
main .story .storyImg img {
    width: 100%;
}
main .story .storyTxt {
    padding: 0 5px;
}
main .story .storyImg {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
main .story .storyImg .storyIntro {
    width: 40%;
    object-fit: contain;
}
/* description */
main .description {
    position: relative;
    z-index: 2;
    background-color: #fcfaf5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    letter-spacing: 2px;
    line-height: 2;
    padding: 50px 0;
    margin: 60px auto;
    border-radius: 10px;
}
main .description .descriptionItem {
    padding: 0 20px;
    width: calc(100% / 2 - 50px);
}
main .description .descriptionItem h3 {
    padding-bottom: 10px;
}
/* recommend */
main .recommendContainer {
    width: 100%;
    background-color: #5551;
}
main .recommend {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 30px;
    width: 1200px;
    margin: auto;
}
main .recommend > h3 {
    padding-left: 35px;
}
main .recommend h3 {
    width: 100%;
    margin-top: 30px;
}
main .recommendItem {
    width: calc(100% / 4 - 50px);
    margin: 25px 0;
    background-color: #fcfaf5;
    overflow: hidden;
    transition: .5s;
    border-radius: 10px;
}
main .recommendItem:hover {
    transform: scale(1.05);
}
main .recommendItem .recommendImg img {
    width: 100%;
}
main .recommendItem .recommendTxt {
    padding: 10px;
}