.price {
    text-align: center;
    width: 200px;
    margin: 30px 0 20px 0;
    padding: 20px;
    color: #fff;
    background-color: #A5896A80;
    font-size: 20px;
    transition: .5s;
}
.price:first-child {
    background-color: #A5896A;
}
.price:hover {
    background-color: #A5896A;
    cursor: pointer;
}

.product {
    width: 1040px;
    margin: auto;
    font-size: 0;
}
.product a {
    width: 220px;
    margin: 20px;
}
.product a img {
    width: 100%;
}