/* detail */
main .detail {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
/* detail img left 70% */
main .detail .detailImg {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}
main .detail .detailImg img {
    width: calc(100% / 2 - 10px);
    margin: 5px;
}
/* detail txt right 30% fixed */
main .detail .detailTxt {
    width: 30%;
    position: relative;
}
main .detail .productInfo {
    width: 360px;
    position: fixed;
    padding-left: 20px;
}